main {
  @include make-container();
  backgrund-color: blue;
  h1 {
    text-align: center;
  }
}
form {
  width: 60%;
  margin: 0 auto;
  @include media-phone {
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  input {
    width: 70%;
    margin-left: auto;
    @include media-phone {
      width: 60%;
    }
  }
  select {
    margin-left: auto;
  }
  input:last-child {
    float: right;
  }
}
